.formulario-consulta{
    padding: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    box-shadow: $shadow;
    margin: 10px auto;
    display: grid;
    background-color: $mainColor;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 70px ;
    grid-template-areas:"titulo     titulo" 
                        "nombre    nombre"
                         "apellido apellido"
                         "tel        tel   "
                         "consulta   consulta"
                         "btn          btn";
                       
}

.formulario-consulta h2:nth-child(1){
    grid-area: titulo;
    color:$letterColor;
}

.formulario-consulta label:nth-child(2){
    grid-area: nombre;

}

.formulario-consulta label:nth-child(3){
    grid-area: apellido;
}

.formulario-consulta label:nth-child(4){
    grid-area: tel;
}

.formulario-consulta label:nth-child(5){
    grid-area: consulta;
}

.formulario-consulta button:nth-child(6){
    grid-area: btn;
    border-radius: 5px;
    background-color: $letterColor;
    font-size: 15px;
    margin: 10px;
    margin-top: 15px;
    > a{
        text-decoration: none;
        color: black;
        > a:hover{
            background-color: blue;
            color: $letterColor;
        }

        }

}

.formulario-consulta label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:$letterColor;
}

.formulario-consulta > label > input{

background-color: transparent;
border:0;
border-bottom: 1px solid white;
outline: none;
}

.formulario-consulta > label > input{
    color: $letterColor;
}

.formulario-consulta > label > textarea{
    color: $letterColor;
}

.formulario-consulta > label > textarea{
    background-color: transparent;
    border:0;
    border: 2px solid white;
    outline: none;
    height: 200px;
}