.navegador{
    background-color: rgb(108, 162, 108);
    ul{
        list-style-type: none;
        display: flex;
        > li > a{
            display: block;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 20px;
            color: white;
        }
    }
}
